:host {
  padding: 20px 10px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 1px 2px 6px -2px;
  position: relative;
  text-align: left;
}

.card-info {
  margin-bottom: 10px;
}
.label {
  font-weight: bold;
}

button {
  position: absolute;
  top: 0;
  right: 0;
}

.badge {
  background: #d8d8d8;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
