<div
  class="column"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  [cdkDropListData]="{
    tickets: tickets,
    title: title
  }"
>
  <div class="column-header">
    <h3>{{ title }}</h3>
    <a
      mat-raised-button
      color="primary"
      aria-label="Create new ticket"
      (click)="create()"
      [routerLink]="['create']"
      *ngIf="title === 'TO-DO'"
    >
      Créer un ticket
    </a>
  </div>
  <app-ticket-card
    [ticket]="ticket"
    (click)="click(ticket.id)"
    (onDelete)="deleteTicket(ticket.id)"
    *ngFor="let ticket of tickets"
    cdkDrag
  ></app-ticket-card>
</div>
