<h2>Tickets</h2>
<div cdkDropListGroup class="list-wrapper">
  <app-ticket-column
    title="TO-DO"
    [tickets]="uncomplated$ | async"
    (onDropTicket)="onDropTicket($event)"
    (onClickTicket)="onClickTicket($event)"
    (onDeleteTicket)="onDeleteTicket($event)"
  ></app-ticket-column>
  <app-ticket-column
    title="DONE"
    [tickets]="complated$ | async"
    (onDropTicket)="onDropTicket($event)"
    (onClickTicket)="onClickTicket($event)"
    (onDeleteTicket)="onDeleteTicket($event)"
  ></app-ticket-column>
</div>
