<form [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>{{ title }}</h1>
    <mat-slide-toggle
      *ngIf="ticket?.id"
      class="example-margin"
      color="primary"
      formControlName="completed"
      [checked]="form.controls.completed.value"
    >
      Done
    </mat-slide-toggle>
  </div>
  <mat-form-field appearance="fill" fxLayout="row wrap" fxFill>
    <mat-label>Responsable</mat-label>
    <mat-select formControlName="assigneeId">
      <mat-option [value]="user.id" *ngFor="let user of users$ | async">{{
        user.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" fxLayout="row wrap" fxFill>
    <mat-label>Description</mat-label>
    <textarea formControlName="description" matInput></textarea>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
    <a mat-raised-button [routerLink]="['/']">Annuler</a>
    <button mat-raised-button type="submit" color="primary" (click)="submit()">
      {{ ticket.id ? "Modifier" : "Créer" }}
    </button>
  </div>
</form>
